<html>
   <head>
      <style>
      h1 {
         color: blue;
         font-size: 28pt;
      }
          h1 {color:rgb(250,10,250);fontsize: 23}
      </style>
   </head>
   <body>
      <h1>Hello World!!</h1>
      <p>The paragraph text should be unchanged</p>
      <h2>I am not blue!</h2>
      <h1>Hello Again</h1>
   </body>
</html>
