body
{background-image: url ("http://dreamatico.com/data_images/snow/snow-1.jpg");}

.vegie{
background-color:green;}
.meat{
background-color:red;}
.carb{
background-color:blue;}
.sauce{
background-color: yellow;}
.object{
background-color: purple;}

ul.checkmark {
list-style-type: none;
}

ul.checkmark li:before {
content:"\2022";
}

ul.checkmark li.mark:before {
content:"\2713\0020";
}
